.navbar.navbar-fixed-top
  .navbar-inner
    .container
    
      = link_to 'MY_APP', root_path, class: 'brand'
      
      .nav-collapse.pull-right
        %ul.nav
          %li= link_to "Repositories", repositories_path          
